<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<div class="buttons">
			<button class="button button-icon ion-close-circled" ng-click="hideHelp()"></button>
		</div>

		<h1 class="title">Evolution Help</h1>
	</ion-header-bar>

	<ion-content class="padding">
		<h3>Can you reach the highest stage in species evolution?</h3>

		<p>Use your arrow keys or swipe to combine tiles which show the same species.</p>

		<p>Play until you reach the human tile.</p>

		<p>Each tile gives you points. Can you beat your previous highscore?</p>

		<h4>Play now and get to the last step of species evolution!</h4>
	</ion-content>
</ion-modal-view>